:root {
  /* ## Colors

    ### Primary */

  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/* fonts 
-- dmserif , serif
-- karla , sans-serif
*/
@font-face {
  font-family: "dmserif";
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: "karla";
  src: url(../fonts/Karla-VariableFont_wght.ttf);
}

/* html {
  line-height: normal;
} */

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "karla", sans-serif;
}

main {
  font-weight: 400;
  /* line-height: 1.5; */
}

.nav-main {
  position: relative;
  /* padding: 24px 5%; */
  padding: 0 5%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 18px;
  /* height: 20px; */
}

.nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0 5%;
  padding-top: 60px;
  width: 100%;
  height: 88vh;
  display: none;
  text-align: center;
  font-size: 20px;
  color: var(--very-light-gray);
  /* /* text-transform: uppercase;  */
  background: url(../images/bg-pattern-mobile-nav.svg), var(--very-dark-violet);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 10;
}

.link-btn {
  margin-bottom: 12px;
  padding: 16px 0;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border: 1px solid var(--very-light-gray);
}

.ham-btn {
  margin: 0;
  padding: 8px 10px;
  border: none;
  border: 2px solid var(--very-dark-violet);
  background-color: transparent;
}

.ham-btn i {
  font-size: 18px;
  line-height: normal;
  color: var(--very-dark-violet);
}

/* .ham-btn span {
  height: 3px;
  width: 28px;
  margin: 10px auto;
  display: block;
  background-color: var(--very-dark-violet);
  border-radius: 2px;
} */

.image-intro {
  width: 100%;
  height: 450px;
  background-image: url(../images/image-intro-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 {
  position: relative;
  padding: 84px 5%;
  text-align: center;
  color: var(--very-light-gray);
  background: url(../images/bg-pattern-intro-left-mobile.svg),
    var(--dark-violet);
  background-size: 168px;
  background-position: top left;
  background-repeat: no-repeat;
}

.bg-intro-right {
  position: absolute;
  bottom: -178px;
  right: 0;
  width: 124px;
  height: 330px;
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 .title {
  margin-top: 0;
  font-size: 2.5em;
  font-family: "dmserif", serif;
  font-weight: 400;
}

.viewplans-btn {
  margin-top: 28px;
  width: 40%;
  padding: 8px 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border: 1px solid var(--very-light-gray);
}

.section-2 {
  padding: 84px 5%;
  padding: 108px 5%;
  text-align: center;
}

.section-2 > article {
  margin-top: 44px;
}

.line-wedifferent {
  width: 40%;
  height: 1px;
  border: none;
  background-color: var(--dark-grayish-violet);
  box-sizing: border-box;
}

.section-2 .title {
  font-size: 2.5em;
  font-family: "dmserif", serif;
  color: var(--very-dark-violet);
}

.section-2 .title-2 {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--vey-dark-violet);
}

.section-2 p {
  margin-bottom: 0;
  color: var(--dark-grayish-violet);
}

.section-3 {
  margin-bottom: 84px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 2%;
  width: 90%;
  text-align: center;
  color: var(--very-light-gray);
  background: url(../images/bg-pattern-how-we-work-mobile.svg),
    var(--dark-violet);
  background-size: 176px;
  background-position: right top;
  background-repeat: no-repeat;
}

.section-3 .title {
  margin-top: 0;
  font-family: "dmserif", serif;
  font-size: 2.5em;
  font-weight: 400;
}

.work-btn {
  /* margin-top: 28px; */
  width: 50%;
  padding: 8px 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border: 1px solid var(--very-light-gray);
}

.footer {
  text-align: center;
  color: var(--very-dark-violet);
}

.footer .article-1 {
  padding-top: 88px;
  padding-bottom: 12px;
  /* background-color: lightslategray; */
  background: url(../images/bg-pattern-footer-mobile.svg),
    var(--very-light-gray);
  background-size: cover;
  background-repeat: no-repeat;
}

.article-1 .logo {
  margin-bottom: 28px;
}

.socialmedia-box {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-grayish-violet);
}

.icon {
  font-size: 24px;
}

.separator-line {
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 90%;
  height: 1px;
  border: none;
  background-color: var(--dark-grayish-violet);
  box-sizing: border-box;
}

.footer .content {
  text-transform: uppercase;
}

.footer .article-1 {
}

.content .list-title {
  color: var(--dark-grayish-violet);
}
